p{
	font-family: 바탕체;
}
ul{
	font-family: 바탕체;
}
ol{
	font-family: 바탕체;
}
#red{
	color: red;
	font-family: 바탕체;
}
#bred{
	color: red;
	font-weight: bold;
	font-family: 바탕체;
}
#headline{
	font-size: 30px;
	font-weight: bold;
	font-family: 바탕체;
}
.headtext{
	font-size: 20px;
	font-family: 바탕체;
	font-weight: bold;
}
.bluetext{
	color: blue;
	text-decoration: underline;
	font-family: 바탕체;

 
